<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <div class="ion-text-start">
          <h3>Goals</h3>
        </div>
      </ion-col>
      <ion-col>
        <div class="ion-text-end">
          <ion-button (click)="addGoal()">
            <ion-icon name="add"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngFor="let goal of goals">
    <app-goal [goal]="goal"></app-goal>
  </div>

</ion-content>
