<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Reminders
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col size="4">
      <ion-button size="large" (click)="reminderAlert()">April 12</ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button size="large" (click)="reminderAlert()">April 14</ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button size="large" (click)="reminderAlert()">April 14</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4">
      <ion-button size="large" (click)="reminderAlert()">April 22</ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button size="large" (click)="reminderAlert()">April 29</ion-button>
    </ion-col>
  </ion-row>

</ion-content>
