<ion-header>
  <ion-toolbar>
    <ion-title>Create New Task</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="addTask">
    <ion-item>
      <ion-label position="fixed">Task Name</ion-label>
      <ion-input formControlName="taskName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Description</ion-label>
      <ion-textarea formControlName="description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Task Start</ion-label>
      <ion-input type="datetime-local" formControlName="taskStart"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Task End</ion-label>
      <ion-input type="datetime-local" formControlName="taskEnd"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Status</ion-label>
      <ion-select formControlName="status">
        <ion-select-option value="pending">Pending</ion-select-option>
        <ion-select-option value="in_progress">In Progress</ion-select-option>
        <ion-select-option value="complete">Complete</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button expand="full" (click)="add_task()" [disabled]="addTask.invalid">Done</ion-button>
  </form>
  <ion-button expand="full" class="back_button" (click)="return()">Back</ion-button>
</ion-content>
