<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Upcoming Events
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="assets/textbooks.jpeg" />
    <ion-card-header>
      <ion-card-title>Chemistry Final Exam</ion-card-title>
      <ion-card-subtitle>9:00am April 14, 2022</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      This description any other imporant details such as chapters included in exam, location, and materials allowed in exam.
    </ion-card-content>
    <ion-label>Category: School</ion-label>
  </ion-card>
  
  <ion-card>
    <img src="assets/iStock-918933880.jpg" />
    <ion-card-header>
      <ion-card-title>Joe's Birthday Party</ion-card-title>
      <ion-card-subtitle>2:00pm April 23, 2022</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      This description any other imporant details such as location, dresscode, and contact details for the event organizer.
    </ion-card-content>
    <ion-label>Category: Personal</ion-label>
  </ion-card>

</ion-content>
